:root {
  --main-page-background-color: white;
  font-family: 'Fira Sans', sans-serif;

}

body {
  height: 100vh;
  background-image: url(./images/background-image2.jpg);
  background-size: cover;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: lightgrey;
  -webkit-text-stroke: 1px blue;
}

header,
footer {
  text-align: center;
  padding: 10px;
  margin: 30px;
}

.display {
  font-size: 30px;
  color: darkgreen;
  background-color: rgba(239, 246, 248, 0.5);
  
  
}

.map {
display: flex;
justify-content: center;
}  