:root {
    --main-page-background-color: white;
    }
    
  body {
    height: 100%;
    font-family: Arial, sans-serif;
    }
    
  h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    }
    
  h2 {
    font-size: 25px;
    font-weight: bold;
    }
    
  header, footer {
    text-align: center;
    padding: 10px;
    }
    
  @media (max-width: 690px) {
    body {
      margin: 5px;
      padding: 10px;
      }
    }
    
  @media (max-width: 500px) {
    body {
      margin: 0px;
      padding: 5 px;
      }
    }
    .map{
        display: flex;
        justify-content: right;
    }
    #map{
        display: flex;
        border-radius: 25px;
        border: solid 4px;
        border-color: black;
    }
    #ideaNav{
        height: 40px;
        width: 100%;
        background-color: rgb(12, 96, 12);
        box-shadow: 0px 10px 10px rgb(57, 30, 179) inset;
    }
    #body{
        border: 1px solid;
        border-color: black;
        padding: 20px;
        margin: 0 60px;
        background-color: white;
    }
    #backroundimage{
        z-index: -1;
        height:100%;
        width: 100%;
        position: fixed;
    }