:root {
  --main-page-background-color: white;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url(./images/background-image2.jpg);
  background-size: cover;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: "Alfa Slab One", cursive;
  color: forestgreen;
  -webkit-text-stroke: 1px black;
}

h1 span {
    color: blue;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: lightgrey;
  -webkit-text-stroke: 1px blue;
}

header,
footer {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 30px;
}

.header- {
  /*margin: -20px;*/
  margin-top: 10px;
  padding: 0px;
}

/* buttons */
#mapButton {
  color: white;
  width: 350px;
  padding: 10px;
  margin: 10px;
  height: 200px;
  text-align: center;
  text-decoration: solid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: forestgreen;
  font-size: 45px;
  margin-right: 350px;
  margin-top: 250px;
  -webkit-text-stroke: 1px black;
}

.sites{
  text-align: center;
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
  font-size: 50px;
  color: white;
}

/* Navigation Bar Header */
header nav {
  display: flex;
  flex-direction: row;
  padding-block: 1px;
  width: 100%;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 25px;
  
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  /*padding: 10px 25px;*/
  padding: 5px 15px;
}

nav ul li a {
  color: blue;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-text-stroke: 1px black;
}

nav ul li a:hover {
  color: forestgreen;
  transition: 0.4s;
}

.nav-bar:hover {
  color: white;
}

@media (max-width: 690px) {
  body {
    margin: 5px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0px;
    padding: 0 px;
  }
}

.map {
  display: flex;
  justify-content: right;
  margin: 30px;
}

#map {
  display: flex;
  border-radius: 25px;
  border: solid 4px;
  border-color: black;
}

#ideaNav {
  height: 40px;
  width: 100%;
  background-color: rgb(12, 96, 12);
  box-shadow: 0px 10px 10px rgb(57, 30, 179) inset;
}

#body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 60px;
}

#backgroundimage {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
}

#datepicker{
    display: flex;
    justify-content: right;
  }


/* MEDIA QUERIES FOR RESPONSIVENESS */

@media (max-width: 690px) {
  body {
    margin: 5px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0px;
    padding: 5 px;
  }
}


/* CAMPSITE INFORMATION RECORD LIST DISPLAY AREA (PER FETCH TO AND RESPONSE FROM THE "RIDB.RECREATION.GOV" WEBSITE) */


#generateCampsiteInformationRecordListButtonSection { 
  /* the button that is on the main page; not on the record list */
  text-align: center;
}

#generateCampsiteInformationRecordListButton,
#hideCampsiteRecordListDisplayAreaButton {  /* the button that is on the main page; not on the record list */
  height: 50px;
  width: 70%;
  padding: 10px;
  border-bottom: 20px;
  background-color: gray;
  border: 2px double orange;
  border-radius: 7px;
}

#campsiteFetchResponseDataDisplayArea {
  padding: 30px;
  background-color: rgb(224, 241, 251);  /* sky blue */
  border: 1px solid black;
}

#campsiteFetchResponseDataDisplayArea #campsiteDisplayAreaTitleSection {
  font-size: 30px;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  margin-top: 20px;
}

#recordsListNavigationBarSection {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: darkblue;
  border-bottom: 10px solid rgb(169, 110, 0);
}

#campsiteRecordsList {
  margin: 30px;
  padding: 0px;
  background-color: lightgray;
}

#campsiteRecordListQueryCriteriaStatusField {
  font-size: 15px;
}

.campsiteRecord {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: lightgray;
  border-left: 10px solid rgb(169, 110, 0);
  border-right: 10px solid rgb(169, 110, 0);
  overflow-x: hidden;
}

.campsiteRecordContent, 
.campsiteRecordContent h1, 
.campsiteRecordContent h2, 
.campsiteRecordContent p {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: lightgray;
}

.campsiteRecordName {
  font-size: 25px;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
  background-color: lightgreen;
  border: 1px solid gray;
}

.campsiteRecordPictures {
  text-align: center;
  margin: 30px;
  padding: 10px;
  height: fit-content;
  background-color: white;
  border: 10px solid gray;
}

.campsiteRecordLocation {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  height: fit-content;
  background-color: lightyellow;
  border: 1px solid gray;
}

.campsiteRecordSeparator {
  color: white;
  font-weight: bold;
  text-align: center;
  height: fit-content;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 10px solid rgb(169, 110, 0);
  background-color: darkblue;
}

#generateADifferentCampsiteListButton a:link, 
a:visited, a:hover, a:active {
  color: white;
  text-decoration-line: none;
}

/* END: CAMPSITE INFORMATION RECORD LIST DISPLAY AREA */
